@import '../../main_css_variaveis/variaveis.css';


.duvidas {
    font-family: var(--font-primary);

    .container-duvidas {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 20vh;
        
        h2 {
            margin-left: 0vh;
            font-size: 30px;
            font-weight: bold;
        }

        h3 {
            font-size: 20px;
            font-weight: 100;
            text-align: justify;
        }

        .acordion {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .ac {
                width: 100%;
                margin: auto;
                margin-top: 2vh;
                color: var(--font-primary-color-text-dark);
                text-align: left;
                line-height: 30px;
                box-shadow: rgba(18, 18, 19, 0.3) 0px 1px 2px 0px, rgba(20, 66, 100, 0.15) 0px 1px 3px 1px;
                background-color: var(--color-buttom-bg-light);

                .head {
                    width: 100%;
                    cursor: pointer;
                    .h {
                        height: 50px;
                        text-align: center;
                    }
                    .h:hover {
                        background-color: rgb(43, 42, 41);
                        color: var(--color-related-bg-light);
                    }
                }
                h3 {
                    width: 90%;
                    margin: auto;
                    font-size: 18px;
                    margin-bottom: 15px;
                    font-weight: 200;
                    text-align: left;
                }

            }
        }
    }
}

@media (max-width: 768px) {
    .duvidas {
        .container-duvidas {
            .acordion {
                .ac {
                    .head {
                        .h {
                           font-size: 15px;
                        }
                    }
                    h3 {
                       font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .duvidas {
        .container-duvidas {
            .acordion {
                .ac {
                    .head {
                        height: 7vh;
                        .h {
                           font-size: 14px;
                        }
                    }
                    h3 {
                       font-size: 16px;
                    }
                }
            }
        }
    }
}