
.poema {
    width: 100%;
    height: auto;
    display: inline-block;

    .containerPoema {
        width: 90%;
        height: 90%;
        margin: auto;
        margin-bottom: 10vh;
        margin-top: 10vh;
        display: flex;

        .txt {

            width: 50%;
            height: auto;
            margin: auto;
            margin-top: 0;

            p {
                width: 85%;
                margin: auto;
                margin-top: 2vh;
                font-size: 20px;
                text-align: left;
                font-weight: 200;
                line-height: 30px;

                b {
                    color: rgb(68, 67, 67);
                }
            }
        }
    }
}

@media (max-width: 550px) {
    
.poema {
    margin-top: 20vh;

    .containerPoema {
        display: inline-block;
        width: 100%;
        .txt {
            width: 100%;
            margin-left: 0;

        }
    }
}
}