@media (max-width: 768px) {
    .duvidas .container-duvidas .acordion .ac .head .h {
        font-size: 15px;
    }

    .duvidas .container-duvidas .acordion .ac h3 {
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .duvidas .container-duvidas .acordion .ac .head {
        height: 7vh;
    }

    .duvidas .container-duvidas .acordion .ac .head .h {
        font-size: 14px;
    }

    .duvidas .container-duvidas .acordion .ac h3 {
        font-size: 16px;
    }
}