@import '../../main_css_variaveis/variaveis.css';

.carouselText {
    width: 100%;
    height: auto;
    font-family: var(--font-primary);
    margin-top: 15vh;
    
    .carouselTextContainer {
        width: 80%;
        margin: auto;
        margin-top: 10vh;
        .carouselTextBootstrap {
            .carouselTextItem {

                height: 60vh;
                border: none;
    
                .carouselTextItemContentConclusao {
                    width: 90%;
                    height: 100%;
                    background-color: rgb(56, 56, 56);
                    border-radius: 10px;
                    margin: auto;
                    position: absolute;
                    text-align: left;
                    left: 0; right: 0; top: 10%; transform: translateY(0%);
                    display: flex;

                    .textCarousel {
                        width: 80%;
                        height: 100%;
                        margin: auto;
                        display: flex;
                        margin-top: 0vh;

                        h3 {
                            text-align: left;
                            font-size: 22px;
                            font-weight: 200;
                            line-height: normal;
                            margin: auto;
                            width: 80%;
                            color: rgb(228, 227, 227);
                        }
                    }

                }
            }
        }
    }
}
