
.textosContainerHeader {
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15vh;


    .containerText {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 2vh;
        flex-wrap: wrap;

        .title-text {
            width: 85%;
            height: 100%;
            margin: auto;
            display: flex;
            margin-top: 5vh;
    
            h2 {
                text-align: justify;
                font-size: 18px;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                margin: auto;
                
            }
    
        }
    }
    

}

@media (max-width: 768px) {
    .textosContainerHeader {

        .containerText {
            width: 90%;
            margin: auto;
            margin-left: 5%;
            display: inline-block;

            .title-text {
                display: flex;
                width: 80%;
            }
        }
    }
}