@media (max-width: 1024px) {

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent {
        height: 50%;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-70%);
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h1 {
        font-size: 45px;
        width: 70%;
        margin-left: 5vh;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h2 {
        width: 80%;
        font-size: 35px;
        margin-left: 5vh;
    }
}

@media (max-width: 1024px) {

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h2 {
        font-size: 20px;
    }
}

@media (max-width: 550px) {

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent {
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-60%);
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h1 {
        width: 70%;
        margin-left: 5vh;
        font-size: 28px;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h2 {
        margin-left: 5vh;
        width: 80%;
        font-size: 16px;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent .btn-header {
        margin-left: 5vh;
    }
}

@media (max-width: 400px) {

    .headerContainer {
        height: 65vh;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem {
        height: 65vh;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent {
        width: 80%;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-60%);
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h1 {
        width: 70%;
        margin-left: 5vh;
        font-size: 24px;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent h2 {
        margin-left: 5vh;
        width: 80%;
        font-size: 15px;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem .carouselItemContent .btn-header {
        margin-left: 5vh;
    }
}

@media (max-width: 300px) {
    .headerContainer {
        height: 50vh;
    }

    .headerContainer .carouselContainer .carouselBootstrap .carouselItem {
        height: 50vh;
    }
}