
.containerCards {
    width: 100%;
    height: 30vh;
    background-color: rgb(32, 38, 43);
    font-family: 'Montserrat', sans-serif;

    .InicialCards {
        width: 90%;
        height: 30vh;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-left: 5%;

        .boxInicial {
            width: 20%;
            height: 80%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            background-color: rgba(235, 233, 233, 0.897);
            border-radius: 5px;
            box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

            .imagem {
                width: 100%;
                height: 50%;
                img {
                    width: 55px;
                    height: 55px;
                    display: block;
                    margin: 4vh auto;
                }
            }

            .texto {
                width: 80%;
                height: 50%;
                margin: auto;
                margin-top: 0;
                text-align: center;

                a {
                    font-size: 16px;
                    line-height: normal;
                    text-decoration: none;
                    color: black;
                    font-weight: 400;
    
                }
            }

            
        }
    }
}


@media (max-width: 1440px) {
    .containerCards {
        .InicialCards {
            .boxInicial {

                .texto {
                    width: 95%;
                    a {
                        font-size: 16px;
                    }
                }
                
            }
        }
    }
}

@media (max-width: 1024px) {
    .containerCards {
        .InicialCards {
            .boxInicial {
                .texto {
                    width: 95%;
                    line-height: 20px;

                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .containerCards {
        height: 25vh;

        .InicialCards {
            height: 25vh;

            .boxInicial {
                width: 24%;
                height: 70%;

               .imagem {
                    height: 35%;
                    img {
                        width: 30px;
                        height: 30px;
                    }
               }

                .texto {
                    width: 95%;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .containerCards {
        height: 20vh;

        .InicialCards {
            height: 20vh;

            .boxInicial {
                
                .imagem {
                    height: 35%;
                    margin-top: 0;

                    img {
                        margin-top: 2vh;
                    }
                }

                .texto {
                    width: 95%;
                    line-height: 15px;
                    a {
                        font-size: 10px;
                        line-height: 0;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .containerCards {
        height: 30vh;

        .InicialCards {
            display: flex;
            flex-wrap: wrap;

            .boxInicial {
                width: 45%;
                height: 65%;
                margin-top: 2vh;

                .imagem {
                    height: 50%;
                }
            }
        }
    }
}