@media (max-width: 1440px) {
    .containerCards .InicialCards .boxInicial .texto {
        width: 95%;
    }

    .containerCards .InicialCards .boxInicial .texto a {
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .containerCards .InicialCards .boxInicial .texto {
        width: 95%;
        line-height: 20px;
    }

    .containerCards .InicialCards .boxInicial .texto a {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .containerCards {
        height: 25vh;
    }

    .containerCards .InicialCards {
        height: 25vh;
    }

    .containerCards .InicialCards .boxInicial {
        width: 24%;
        height: 70%;
    }

    .containerCards .InicialCards .boxInicial .imagem {
        height: 35%;
    }

    .containerCards .InicialCards .boxInicial .imagem img {
        width: 30px;
        height: 30px;
    }

    .containerCards .InicialCards .boxInicial .texto {
        width: 95%;
    }

    .containerCards .InicialCards .boxInicial .texto a {
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    .containerCards {
        height: 20vh;
    }

    .containerCards .InicialCards {
        height: 20vh;
    }

    .containerCards .InicialCards .boxInicial .imagem {
        height: 35%;
        margin-top: 0;
    }

    .containerCards .InicialCards .boxInicial .imagem img {
        margin-top: 2vh;
    }

    .containerCards .InicialCards .boxInicial .texto {
        width: 95%;
        line-height: 15px;
    }

    .containerCards .InicialCards .boxInicial .texto a {
        font-size: 10px;
        line-height: 0;
        margin-top: 0;
    }
}

@media (max-width: 400px) {
    .containerCards {
        height: 30vh;
    }

    .containerCards .InicialCards {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    .containerCards .InicialCards .boxInicial {
        width: 45%;
        height: 75%;
        margin-top: 2vh;
    }

    .containerCards .InicialCards .boxInicial .imagem {
        height: 50%;
    }
}