@import '../../main_css_variaveis/variaveis.css';


.titleContainerSobre {

    width: 85%;
    margin: auto;
    font-family: var(--font-primary);
    text-align: left;
    margin-top: 10vh;

    h2 {
        font-size: 40px;
        font-weight: 800;
        color: var(--font-secundary-color-title);
    }

    h3 {
        font-size: 22px;
        font-weight: 400;
    }

}