
.textRun {
    width: 100%;
    height: 5vh;
    background-color: #ffd700;
    display: flex;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;


    .containerTextRun {
        width: auto;
        height: 100%;
        display: flex;
        h2 {
            overflow: hidden;
            white-space: nowrap;
            font-size: 13px;
            font-weight: 400;
            color: rgb(39, 38, 38);
            margin: auto;
            animation: text-run 22s linear infinite;
    
            span {
                font-weight: 800;
                margin-left: 1vh;
            }
        }
    }
}

@media (max-width: 768px) {
    .textRun {
        width: 300%;
    }
}



@keyframes text-run {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }