@import '../../main_css_variaveis/variaveis.css';

.apresentacaoPesquisa {

    width: 100%;
    height: auto;
    margin-top: 20vh;
    font-family: var(--font-primary);


    .apresentacaoPesquisaContainer {
        width: 85%;
        height: 80%;
        margin: auto;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        
        h4 {
            text-align: left;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;

            p {
                margin-top: 5vh;
            }
        }

        .container {
            width: 100%;
            height: 15vh;
            margin-top: 5vh;
            display: flex;
            flex-wrap: wrap;

            .btn-info {
                width: 32%;
                height: 40px;
                margin: auto;
                background-color: var(--color-related-bg-light);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                border: none;
                border-radius: 5px;

                a {
                    text-decoration: none;
                    color: var(--font-primary-color-link-dark);
                }
            }
            .btn-info:hover {
                background-color: var(--color-buttom-bg-light);
                transition: .4s ease;
            }
        }
    }
    .textIntroducaoContainer {
        width: 85%;
        height: 35vh;
        display: flex;
        margin: auto;
        margin-top: 5vh;

        .imagemText {
            width: 50%;
            height: 100%;
            border-radius: 10px;
            background-image: url(./pesquisa.webp);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease;
        }
        .imagemText:hover {
            transform: scale(1.05);
            opacity: .8;
            cursor: pointer;
        }

        .textIntroducao {
            width: 50%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h3 {
                text-align: left;
                width: 90%;
                margin: auto;
                margin-top: 0;
                font-weight: 600;
            }
            h4 {
                width: 90%;
                margin: auto;
                margin-top: 0vh;
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
            }

            .btn-introducao {
                border: none;
                width: 200px;
                margin-left: 40px;
                background-color: var(--button-red);
                border-radius: 5px;
                font-weight: 500;

                a {
                    color: var(--font-primary-color-link-light);
                    text-decoration: none;
                }
            }
        }

    }
}
