@media (max-width: 1440px) {
    .frameInicial {
        height: 80vh;
    }

    .frameInicial .containerIframeInicial .text h2 {
        width: 80%;
    }

    .frameInicial .containerIframeInicial .text h3 {
        margin-top: 1vh;
        font-size: 16px;
        line-height: 20px;
    }

    .frameInicial .containerIframeInicial .text h4 {
        margin-top: 2vh;
        line-height: 30px;
    }
}

@media (max-width: 1024px) {
    .frameInicial {
        height: auto;
        margin-top: 15vh;
    }

    .frameInicial .containerIframeInicial {
        display: inline-block;
        width: 90%;
        height: 70vh;
        margin-left: 5%;
    }

    .frameInicial .containerIframeInicial .text {
        margin: auto;
        width: 100%;
        height: auto;
    }

    .frameInicial .containerIframeInicial .iframe {
        width: 100%;
        margin-top: 2vh;
    }

    .frameInicial .containerIframeInicial .iframe iframe {
        width: 100%;
        margin: auto;
        height: 50%;
    }
}

@media (max-width: 768px) {
    .frameInicial {
        margin-top: 10vh;
        height: auto;
    }

    .frameInicial .containerIframeInicial {
        height: 70vh;
    }
}
@media (max-width: 550px) {
    .frameInicial {
        margin-top: 25vh;
    }
}
@media (max-width: 400px) {
    .frameInicial {
        margin-top: 35vh;
    }
}