

@media (max-width: 1440px) {
    .frameInicial {
        height: auto;
    }

    .frameInicial .containerIframeInicial {
        width: 90%;
        height: 90vh;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .frameInicial .containerIframeInicial .text {
        margin: auto;
        width: 100%;
        height: 35%;
        margin-top: 1vh;
        order: 2;
    }

    .frameInicial .containerIframeInicial .text h3{
        width: 90%;
        font-size: 14px;
        line-height: normal;
    }

    .frameInicial .containerIframeInicial .iframe {
        width: 100%;
        height: 60%;
        margin-top: 2vh;
    }

    .frameInicial .containerIframeInicial .iframe iframe {
        width: 100%;
        margin: auto;
        height: 100%;
    }
}

@media (max-width: 768px) {

    .frameInicial .containerIframeInicial .text h2{
        font-size: 27px;
    }
    .frameInicial .containerIframeInicial .text h3{
        width: 90%;
        font-size: 14px;
        line-height: normal;
    }
}

@media (max-width: 550px) {

    .frameInicial .containerIframeInicial {
        height: auto;
    }
    .frameInicial .containerIframeInicial .iframe iframe{
        height: 40vh;
    }
}