@import '../../main_css_variaveis/variaveis.css';


.noticiasHome {
    width: 100%;
    height: 100vh;
    margin-top: 20vh;
    display: inline-block;
    font-family: var(--font-primary);

    .containerNoticiasHome {
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 10vh;
    }
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-rows: repeat(3, 200px);
  }
  
  .news-item {
    background-color: var(--font-primary-color-link-light);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
    display: inline-block;
  }

  .news-item h3 {
    margin-top: 5vh;
    margin-left: 3vh;
    font-size: 24px;
    text-align: left;
  }
  .news-item p {
    margin-top: 1vh;
    font-size: 16px;
    margin-left: 3vh;
    text-align: left;
  }
  
  
  .news-item:nth-child(2) {
    grid-row-end: span 2;
    background-image: url(./assets/imagem1.webp);
    color: var(--font-primary-color-link-light);

    h3 {
      font-size: 35px;
    }
  }
  
  .news-item:nth-child(3) {
    grid-row-end: span 3;
    background-image: url(./assets/imagem3.webp);
    color: var(--font-primary-color-link-light);

    h3 {
      font-size: 35px;
    }
  }
  .news-item:nth-child(1) {
    background-image: url(./assets/imagem2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .news-item:nth-child(4) {
    background-image: url(./assets/imagem4.webp);
    color: var(--font-primary-color-link-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .news-item:nth-child(5) {
    background-image: url(./assets/pesquisa.webp);
    color: var(--font-primary-color-link-dark);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h3 {
      font-weight: 800;
    }
  }
  .news-item:nth-child(6) {
    background-image: url(./assets/machistometro.webp);
    color: var(--font-primary-color-link-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (max-width: 768px) {
    .noticiasHome {
      height: auto;
      margin-bottom: 10vh;
    }
    .news-grid {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 150px);
    }
  
    .news-item:nth-child(1), .news-item:nth-child(2), .news-item:nth-child(3), .news-item:nth-child(4) {
      grid-row-end: span 1;
    }
  }