
.navSuperiorContainer {
    width: 100%;
    height: 5vh;
    background-color: rgb(54, 54, 54);
    margin-top: 0vh;
    z-index: 100;
    position: absolute;
    display: flex;

    ul {
        width: 90%;
        height: 80%;
        margin: auto;
        display: flex;

        li {
            width: auto;
            display: flex;
            margin-right: 4vh;

            a {
                margin: auto;
                font-size: 13px;
                font-weight: 300;
                color: rgb(201, 198, 198);
                text-decoration: none;
            }
            a:hover {
                color:rgb(248, 245, 245) ;
                transition: .4s ease;
            }
        }
    }

}


@media (max-width: 1024px) {
    .navSuperiorContainer {
        position: fixed;
        display: inline-block;
        ul {
            width: 100%;
            margin: auto;
            margin-left: 0vh;
        }
    }
}

@media (max-width: 768px) {
    
    .navSuperiorContainer {

        ul {
            margin-bottom: 10px;

            li {
                margin-right: 2vh;

                a {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 550px) {
    
    .navSuperiorContainer {
        height: auto;
        ul {
            

            li {
                a {
                    margin-top: 1.5vh;
                    font-size: 10px;
                }
            }
        }
    }
}