@import '../main_css_variaveis/variaveis.css';

.relacionados {
    width: 25%;
    height: 100%;
    margin-left: 5%;
    background-color: var(--color-related-bg-light);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-top: -5vh;

    h2 {
        font-size: 22px;
        font-weight: 700;
        margin-left: 3vh;
        margin-top: 5vh;
    }

    .related {

        width: 90%;
        height: auto;
        margin: auto;
        margin-top: 5vh;
        padding-bottom: 50px;
    
        li {
            width: 100%;
            height: 100px;
            background-color: var(--color-buttom-bg-light);
            box-shadow: rgba(51, 51, 51, 0.1) 0px 1px 3px 0px, rgba(65, 64, 64, 0.06) 0px 1px 2px 0px;
            border-radius: 5px;
            margin: auto;
            margin-left: -1.5vh;
            margin-top: 5vh;
            display: flex;
    
            .icon {
                width: 25%;
                height: 100%;
                display: flex;
    
                img {
                    width: 50px;
                    height: 50px;
                    margin: auto;
                }
            }
    
            .text {
                width: 70%;
                height: 100%;
                display: flex;
    
                h3 {
                    font-size: 14px;
                    margin: auto;
                    margin-left: 0;
    
                    a {
                        text-decoration: none;
                        color: var(--font-primary-color-link-dark);
                    }
                }
            }
        }
    }
}
