
.titleContainer {

    width: 90%;
    margin: auto;
    margin-top: 5vh;
    font-family: 'Montserrat', sans-serif;

    h2 {
        font-size: 40px;
        font-weight: 600;
    }

    h3 {
        font-size: 22px;
        font-weight: 400;
    }

}