
.titleContainer {

    width: 85%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    h2 {
        font-size: 5vh;
        font-weight: 600;
        color: rgb(17, 17, 17);
    }

    h3 {
        font-size: 22px;
        font-weight: 400;
        color: rgb(27, 25, 25);
    }

}

@media (max-width: 768px) {
    
.titleContainer {


    h3 {
        font-size: 18px;
    }

}
}