
.titleContainer {

    width: 85%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    h2 {
        font-size: 40px;
        font-weight: 600;
    }

    h3 {
        font-size: 22px;
        font-weight: 400;
    }

}