@import '../main_css_variaveis/variaveis.css';


.destaques {
    width: 100%;
    height: auto;
    font-family: var(--font-primary);


    .containerDestaques {
        width: 100%;
        height: auto;
        margin-bottom: 10vh;

        .container-md-destaques {

            width: 85%;
            height: 90%;
            margin: auto;
            margin-top: 10vh;
            display: flex;

            .textDestaques {
                width: 70%;
                height: 100%;
                display: inline-block;

                h1 {
                    font-size: 25px;
                    font-weight: 800;
                    color: rgb(71, 70, 70);
                }

                h2 {

                    font-size: 18px;
                    width: 80%;
                    text-align: left;
                    font-weight: 300;
                    margin-bottom: 5vh;
                    line-height: 25px;
                }

                img {
                    width: 200px;
                    height: 200px;
                }
                h5 {
                    margin-left: 5vh;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }

            @media (max-widt: 1024px) {
                .textDestaques {
                    margin: auto;
                }
            }
            
            @media (max-width: 1440px) {
                .relacionados {
                    height: 110vh;
                }
            }
        }
    }
}
