@import '../../main_css_variaveis/variaveis.css';


.contatosHome {
    width: 100%;
    height: auto;
    display: inline-block;
    font-family: var(--font-primary);

    .containerContatosHome {
        width: 80%;
        height: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vh;
        margin-bottom: 10vh;

        .containerBoxHome {
            width: 32%;
            height: 80px;
            margin: auto;
            margin-top: 2vh;
            border-radius: 5px;
            background-color: var(--color-buttom-bg-light);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                font-size: 16px;
                margin-top: 1vh;
                margin-left: 2vh;
                color: var(--font-primary-color-link-dark);
            }

            h4 {
                text-decoration: none;
                font-size: 16px;
                margin-top: 1vh;
                margin-left: 2vh;
                color: var(--font-primary-color-text-dark);
            }

            img {
                width: 40px;
                height: 40px;
                margin-left: 4vh;
                opacity: .5;
            }

        }
    }
}
