@media (max-width: 1440px) {
    .contatosHome .containerContatosHome .containerBoxHome h4 {
        font-size: 12px;
    }

    .contatosHome .containerContatosHome .containerBoxHome img {
        width: 30px;
        height: 30px;
        margin-left: 1vh;
    }
}

@media (max-width: 768px) {
    .contatosHome .containerContatosHome .containerBoxHome {
        width: 49%;
    }

    .contatosHome .containerContatosHome .containerBoxHome h4 {
        font-size: 12px;
        margin-top: 1.5vh;
        margin-left: 1vh;
    }
}

@media (max-width: 350px) {
    .contatosHome .containerContatosHome .containerBoxHome {
        width: 90%;
    }

    .contatosHome .containerContatosHome .containerBoxHome img {
        margin-left: 3vh;
    }

    .contatosHome .containerContatosHome .containerBoxHome h4 {
        font-size: 12px;
        margin-top: 1.5vh;
        margin-left: 1vh;
    }
}