.categoriaList {
    font-size: 15px;
    margin-right: 5px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: black;
  
    &.active {
        width: auto;
        border-radius: 5px;
        background-color
        : #f72121d8 ;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: white;
        font-weight: bold;
    }
}

@media (max-width: 550px) {
    .categoriaList {
        padding: 5px;
        font-size: 16px;
        margin-right: 5px;
        
        &.active {
            font-size: 16px;
        }
    }
}