@import '../../main_css_variaveis/variaveis.css';


.categoriaList {
    font-size: 15px;
    margin-right: 5px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    font-family: var( --font-primary);
    cursor: pointer;
    color: var(--font-primary-color-link-dark);
  
    &.active {
        width: auto;
        border-radius: 5px;
        background-color: var(--button-red) ;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        color: var(--font-primary-color-link-light);
        font-weight: bold;
    }
}

@media (max-width: 550px) {
    .categoriaList {
        padding: 5px;
        font-size: 12px;
        margin-right: 5px;
        
        &.active {
            font-size: 12px;
        }
    }
}