
.filterCategoria {

    width: 100%;
    height: auto;
    display: inline-block;
    margin-top: 15vh;
    font-family: 'Montserrat', sans-serif;


    .filter {
        width: 85%;
        height: auto;
        margin: auto;
        margin-top: 10vh;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            list-style: none;
        }

    }
    .text-descricao {
        width: 80%;
        height: auto;
        display: flex;
        background-color: rgb(241, 239, 239);
        margin: auto;
        margin-top: 5vh;

        .box {
            width: 80%;
            height: 80%;
            margin: auto;
            display: inline-block;
            align-items: center;

            h2 {
                text-align: left;
                font-size: 25px;
                margin-top: 5vh;
            }
            h3 {
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                line-height: 30px;
                margin: auto;
                margin-bottom: 5vh;
            }
        }
    }
}