.App {
  text-align: center;
  background-color: rgb(230, 230, 227);
  background-image: linear-gradient(to right top, #b8bdc2, #bfcacd, #c8d7d5, #d6e3da, #eaeedf);
  background-image: linear-gradient(to right top, #caced1, #d3d8db, #dce1e5, #e6ebef, #eff5f9);
  background-image: linear-gradient(to right top, #caced1, #d5d8da, #e1e2e4, #ececed, #f6f6f6);
  
  height: 1200vh;
}

.App-logo {
  width: 100%;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: yellow;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

